body::before {
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    width: 2048px;
    height: 2048px;
    background-image: url('resource/dark_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    animation: spinBG 90s linear infinite;
    z-index: -1;
}
@keyframes spin {
    from { transform: translate(-50%, -50%) rotate(0deg); }
    to   { transform: translate(-50%, -50%) rotate(360deg); }
}
