#glass-card {
    
}
.container {
    
}
.title {
    font-size: 256px;
    color: rgb(150, 190, 255);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.string {
    font-size: 25px;
    color: white;
    font-family:;
    text-align: center;
    
}
/*Background Image*/
body::before {
    background-color: black;
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    width: 2048px;
    height: 2048px;
    background-image: url('resource/dark_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    animation: spin 90s linear infinite;
    z-index: -1;
}
@keyframes spin {
    from { transform: translate(-50%, -50%) rotate(0deg); }
    to   { transform: translate(-50%, -50%) rotate(360deg); }
}
