/*BASE*/
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
}
/*GLASS UI*/
.glass-ui {
    display: flex;
    background-color: rgba(27, 27, 27, 0.5);
    height: auto;
    width: 75%;
    padding: 50px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    backdrop-filter: blur(12px);
    box-shadow: 10px 22px 22px rgba(0, 0, 0, 0.2);
    margin: 10vh;
    top: 0vh;
}
/*TEXTS*/
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    text-align: center;
    margin-top: -100px;
}
.header p {
    color: white;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    width: 100%;
    text-align: center;
    margin-top: -40px;
}
.header h1 {
    display: flex;
    max-width: max-content;
    max-height: min-content;
    transform: scale(1);
    text-shadow: 0px 0px 0px white;
    transition: transform 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}
.header h1:hover {
    transform: scale(1.05);
    text-shadow: 
        2px 2px 5px white,
        0px 0px 10px white;
}
/* BACKGROUND */
#bg::before {
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    width: 150vmax;
    height: 150vmax;
    background-image: url('resource/dark_sat_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    animation: spin 90s linear infinite;
    z-index: -1;
}
@keyframes spin {
    from { transform: translate(-50%, -50%) rotate(0deg); }
    to   { transform: translate(-50%, -50%) rotate(360deg); }
}
